html
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,*::after
{
    box-sizing: inherit;
}

/** Header **/

div.container-header
{
    background-image: url(../img/back1.jpg);
    height: 70vh;
    background-size: 100% 100%;
    background-position: top center;
    opacity: 0.9;
    background-repeat: no-repeat;
}
.parallex::before
{
width: 100%;
height: 66%;
position: absolute;
top:0;
left: 0;
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
background-attachment: fixed;
}

p
{
    margin: 0;
    padding: 0;
    text-align: center;
}

#firstp
{

    padding-right: 70%;
   color: green;
}
#secondp
{
    padding-right: 16%;
}
#thirdp
{
    padding-left: 47%;
}

div#firstp, div#secondp, div#thirdp
{
    font-family: 'Anton', sans-serif;
    color: honeydew;
    font-size: 60px;
    padding-top: 70px;
    margin-bottom: 20px;   
}




/** Bar Menu **/

.container-menu
{
    background-color: #353535;
}

nav.menu{
text-align: center;
font-size: 2.3em;
padding: 10px 10px;

}

nav.menu a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    transition: all .3s ease;
}

nav.menu a:hover{
background-color: #f24918;
}